# Frontend
client/node_modules/
client/dist/


# Backend
server/node_modules
server/target/
server/dist

# Env
.env
.env.*

# OS / IDE
.DS_Store
.vscode/
.idea/
client/.env.dev
client/.env.prod
server/src/main/resources/application.properties
*.proper

